opencv-python
diffusers
transformers==4.45.1
accelerate
pandas
numpy
einops
tqdm
loguru
imageio
imageio-ffmpeg
safetensors
#gradio==4.42.0
#fastapi==0.115.12
#uvicorn==0.34.2
decord
librosa
scikit-video
ffmpeg
